.hero-container {
  /* background-image: url("/public/ladyCoffeInverted.jpg"); */
  position: relative;
  height: 30rem;
  object-fit: cover;
  object-position: left;
  padding: 1rem 3rem;
}

.hero-container h1 {
  position: absolute;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2;
  top: 2rem;
  z-index: 10;
}

.hero-container p {
  position: absolute;
  top: 7rem;
  z-index: 10;
}

.hero-container img {
  z-index: 10;
}

.background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  /* display: none; */
}

.read-more-btn {
  position: absolute;
  top: 10rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: blue;
  color: var(--color-grey-200);
  border: 0;
  margin-top: 1rem;
  border-radius: 0.3rem;
  z-index: 10;
  transition: 0.3s;
}

.read-more-btn:hover {
  background-color: rgb(15, 15, 117);
}
